#container {
    width: 800px;
    height: 800px;
    background-color: aquamarine;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
}

.square {
    width: auto;
    height: auto;
    background-color: white;
    border: solid 1px black;
}

body {
    background-color:#E98973;
    text-align: center;
    font-family: Verdana, sans-serif;
    color:#092f49;
}
#headcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header {
    width: 800px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bold;
  }
  #range {
      margin: 8px;
  }
  
  #color {
      margin: 8px;
  }

header {
    font-size: xx-large;
}

.footer {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 20px;

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:cornflowerblue;
}

.button {
  background-color:transparent; 
  border: 2px solid #E7D4C0; 
  border-radius: 10px;
  color: black;
  padding: 10px 32px;
  font-size: 15px;
  margin: 1px;
  transition-duration: 0.4s;
  margin-left: 10px;
  font-weight : bold;
}

.button:hover {
    background-color: #E7D4C0; 
    color: black;
    cursor: pointer;
  }
  
  #color {
      border-radius: 8px;
  }